@{
    ViewData["Title"] = "Home Page";
    ViewData["Breadcrumb"] = "Dashboard";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="TotalListingText">0</h3>
                <b>Total Listing</b>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="ActiveListingText">0</h3>
                <b>Active Listing</b>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="ExpiredListingText">0</h3>
                <b>Expired Listing</b>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="PendingListingText">0</h3>
                <b>Pending Listing</b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="ApprovedListingText">0</h3>
                <b>Approved Listing</b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="RejectedListingText">0</h3>
                <b>Rejected Listing</b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="ActivePlanText">0</h3>
                <b>Active Plan</b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="ExpiredPlanText">0</h3>
                <b>Expired Plan</b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="TotalAdvertisementPackages">0</h3>
                <b>Total Advertisement Packages</b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="TotalUtlizedAds">0</h3>
                <b>Total Utilized Ads</b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>



    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="TotalAdsApproved">0</h3>
                <b>Total Approved Advertisement </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>


    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="TotalAdsReject">0</h3>
                <b>Total Advertisement Reject </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="TotalAdsPending">0</h3>
                <b>Total Advertisement Pending </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="UserTotalPromotionPackage">0</h3>
                <b>Total Promotion Package </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="TotalUsedPromotionPackages">0</h3>
                <b>Total Used Promotion Packages </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="TotalUnUsedPromotionPackages">0</h3>
                <b>Total UnUsed Promotion Packages </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="AvailableBoldPackages">0</h3>
                <b>Available Bold Packages </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="AvailableRimmedPackages">0</h3>
                <b>Available Rimmed Package </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="AvailableTopPlusPackages">0</h3>
                <b>Available  TOP+   Package </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="AvailableBackgroundPackages">0</h3>
                <b>Available Background Package </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="AvailableTopPackages">0</h3>
                <b>Available Top Package </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="AvailableVideoAdvertsPackages">0</h3>
                <b>Available VideoAd Package </b>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>

        </div>
    </div>

    <!-- ./col -->
</div>


<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <div class="card-header">
                <h3 class="card-title"><b>My Packages</b></h3>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TableMyPackages" class="table table-bordered table-hover dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>AllowedListings</th>
                                        <th>RemainingListings</th>
                                    </tr>
                                </thead>
                                <tbody id="AppendMyPackages">
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>



<div class="row">
    <div class="col-12">
        <div class="card card-primary">

            <div class="card-header">
                <h3 class="card-title"><b>My Promotion Packages</b></h3>
            </div>


            <!-- /.card-header -->
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TableMyPromotionPackages" class="table table-bordered table-hover dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Subscription Date</th>
                                        <th>Expiry Date</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody id="AppendMyPromotionPackages">
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>


<div class="row">

    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><b>My Advertisements</b></h3>
            </div>
            <div class="card-body">
                <table id="TableApprovalListing" class="table table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Cost</th>
                            <th>Type</th>
                            <th>No. Of Advertisement</th>

                            <th>Created On</th>

                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody id="AppendApprovalListing">
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>


@section Scripts {
    <script src="~/dashboard/dashoard.js"></script>
}
